h1 {
    text-align: center;
    background-color: lightblue;
}

.instructions {
    text-align: center;
    font-weight: bold;
}

.game-display {
    text-align: center;
}


#picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
}